// colours for wazimap youth

$brand-primary-color: darken(#8ECC4C, 10%);

$brand-secondary-darkest-color: #086390;
$brand-secondary-color: lighten($brand-secondary-darkest-color, 20%);
$brand-secondary-lighter-color: lighten($brand-secondary-darkest-color, 30%);
$brand-secondary-lightest-color: lighten($brand-secondary-darkest-color, 40%);
$brand-secondary-darker-color: lighten($brand-secondary-darkest-color, 10%);

$general-bg-lighter-color: #f4f9fb;
$general-bg-color: darken($general-bg-lighter-color, 10%);
$general-bg-darker-color: darken($general-bg-color, 10%);
$general-bg-darkest-color: darken($general-bg-color, 20%);

$header-fg-color: white;
$footer-bg-color: #dae7ec;
