/* Define the styles to use accross all the instances of Wazimap-ZA*/

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#help .video-wrapper {
  margin-bottom: 40px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-help i {
  margin-right: 10px;
  font-size: 28px;
  line-height: 28px;
}

.map-header-help i {
  float: right;
  font-size: 20px;
  line-height: 20px;
}
