.footer-logos img {
    height: 50px;
    margin: 10px 5% 10px 0px;
    vertical-align: baseline;
}

aside.multi-line-header {
  padding-top: 1.2em;
}

.page-header h1 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 24px;
}

h1.article-header {
  font-size: 2em;
}

#geography-select-wrapper .browse-only {
  width: 100%;
  margin: 1em auto;
}

#homepage .big-action h1 {
  width: 150px;
}

#homepage .input-wrapper {
  padding-left: 180px;
}

#homepage .content-container.callouts {
  padding-top: 0;
}

.footnote {
  font-size: 0.8em;
  margin: 1.5em 0;
}
