.footer-logos img {
    height: 50px;
    margin: 10px 5% 10px 0px;
    vertical-align: baseline;
}

aside.multi-line-header {
    padding-top: 1.2em;
}

.page-header h1 {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 24px;
}

h1.article-header {
    font-size: 2em;
}

#homepage .content-container.callouts {
    padding-top: 0;
}

.footnote {
    font-size: 0.8em;
    margin: 1.5em 0;
}


@media only screen and (min-width: 769px) {
    #homepage #explore h1, #homepage #profile h1 {
        width: 150px;
    }

    #homepage .input-wrapper {
        padding-left: 150px;
    }
}


html {
    background-color: #f7f8f3;
}

.branding {
    text-align: center;
    margin-top: 20px;
}

.branding h2 {
    color: #FF4A00;
    font-size: 1.4em;
    margin-top: 1em;
}

.branding h3 {
    font-size: 1.2em;
}

.branding p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.callout a {
    text-decoration: none;
}

.callout h3 {
    color: #33B5B5;
}

.callout i.fa {
    background-color: #33B5B5;
}

p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-container {
    margin-top: 50px;
}

.launch-page-logos {
    margin-left: 175px;
}

