{% extends 'profile/_base_profile.html' %}{% load humanize lookup staticfiles %}

{% block head_title %}{{ geography.this.short_name }} - {{ block.super }}{% endblock %}

{% block head_meta_description %}Population data and election figures from {{ geography.this.short_name}}, broken down by category: Demographics, Service delivery, Economics and Education.{% endblock %}

{% block head_facebook_tags %}
    <meta property="og:title" content="Wazimap profile: {% firstof geography.this.full_name geography.this.short_name %}" />
    <meta property="og:site_name" content="Wazimap" />
    <meta property="og:url" content="http://wazimap.co.za/profiles/{{ geography.this.full_geoid }}/" />
    <meta property="og:description" content="Population data and election figures from {{ geography.this.short_name}}, broken down by category: Demographics, Service delivery, Economics and Education." />
    <meta property="og:type" content="article" />
    {#}<meta property="og:image" content="" />{#}
{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<link href='{{STATIC_URL}}css/vendor/leaflet.label.css' rel='stylesheet' />
{% endblock %}
{% block body_id %}profile{% endblock %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ geography.this.short_name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  {% if geography.this.geo_level != 'country' %}
                      in
                      {% for level in geography.parents_ordering %}
                        {% with g=geography.parents|get:level %}
                          <a href="/profiles/{{ g.full_geoid }}/">{{ g.short_name }}</a>{% if not forloop.last %},{%endif%}
                        {% endwith %}
                      {% endfor %}
                  {% endif %}
                </p>
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ demographics.total_population.values.this|floatformat:"0" }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geography.this.square_kms %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{% if geography.this.square_kms < 1.0 %}{{ geography.this.square_kms|floatformat:"3" }}{% else %}{{ geography.this.square_kms|floatformat:"1" }}{% endif %}</span>
                        <span class="name"> square kilometres</span>
                    </span>
                    {% if demographics.population_density.values.this %}
                    <span class="secondary">
                        <span class="value">{{ demographics.population_density.values.this|floatformat:"1" }}</span>
                        <span class="name"> {{ demographics.population_density.name }}</span>
                    </span>
                    {% endif %}
                    {% if demographics.child_population_density.values.this %}
                    <span class="secondary">
                        <span class="value">{{ demographics.child_population_density.values.this|floatformat:"1" }}</span>
                        <span class="name">{{ demographics.child_population_density.name }}</span>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if geography.this.show_extra_links %}
                {% include "profile/_blocks/_header_extra_links.html" %}
            {% endif %}

            <div class="column-full">
                <p class="caption">
                    <strong>Census data:</strong> 2011
                    {% if crime %}
                    <br>
                    <strong>Crime data:</strong> {{ crime.dataset }}</p>
                    {% endif %}
                </p>
            </div>
        </article>
    </div>
</div>
{% endblock %}

{% block content %}
{% comment %}
<section class="clearfix" id="query-topic-picker">
    <h2>Find data for this place</h2>
    <div class="typeahead-container">
        <input name="topic_select" id="topic-select" type="text" placeholder="Search by table or column name..." autocomplete="off">
    </div>
</section>
{% endcomment %}
<h2>This applicaton is currently under active development.<br>
Please provide any feedback you may have by using the Help &amp; Feedback button</h2>
<br>

<section class="clearfix" id="compare-place-picker">
    <h2>Compare this place with another</h2>
    <div class="typeahead-container">
        <input name="place_select" id="compare-place-select" type="text" placeholder="Start typing a place name or address to compare with..." autocomplete="off">
    </div>
</section>

<div id="share-this-page" style="text-align: right;">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style " style="margin:2px 0 10px 5px;float:right;width:175px;">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_gmail"></a>
        <a class="addthis_counter addthis_bubble_style" style="margin-left: 5px;"></a>
    </div>
    <!-- AddThis Button END -->
    Share this page:
</div>

<p class="explain">Interact with charts and statistics for additional information.</p>

<article id="ecd_ages" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd_age_groups" id="age_groups">Early childhood age groups<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.ecd_children stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-histogram-demographics-ecd_age_groups" data-chart-title="Children by age in years" data-stat-type="scaled-percentage"></div>
            </div>
            <div class="column-third">
                <div id="chart-pie-demographics-ecd_gender" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Gender of children under the age of nine years"></div>
            </div>
        </section>
        {% if demographics.child_population_density.values.this %}
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd_pop_density" id="ecd_pop_density">Child population density<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.child_population_density stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-histogram-demographics-ecd_pop_density" data-chart-title="Children per square kilometre" data-decimal-places="2"></div>
            </div>
        </section>
        {% endif %}
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#women_child_bearing_age" id="women_child_bearing_age">Women of child bearing age<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_women_child_bearing_age stat_type='number' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-histogram-demographics-women_child_bearing_age" data-chart-title="Women by age in years" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Access to Early Learning</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#registered_centres" id="ecd_centres">ECD Centres overview<i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.total_ecd_centres stat_type='number' %}
            </div>
            <div class="column-half" id="chart-pie-ecd_centres-ecd_centres_by_registration" data-stat-type="percentage" data-chart-title="Breakdown of ECD centres by registration status"></div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.registered_ecd_programmes stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-pie-ecd_centres-ecd_centres_by_type" data-chart-title="Breakdown of ECD centres by type of centre" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#centre_coverage" id="ecd_centres">Centre Coverage (children aged 3-5 years)<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_enrolled_age_3_to_5 stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_coverage stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_receiving_subsidy stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_per_ecd_centre stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_per_ecd_centre_enrolled stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_in_ecd_programmes stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_in_play_groups stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#grade-r" id="grade-r">Grade R learners<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_grade_r_age stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.ecd_centres_with_grade_r_learners stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.schools_with_grade_r_learners stat_type='number' %}
            </div>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>ECD educators</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd-educators" id="ecd-educators">Practitioners at ECD centres<i class="fa fa-link"></i></a></h2>
            <aside>
                <p>* Trained: NQF4 or higher</p>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_practitioner stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_trained_practitioner stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_untrained_practitioner stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.practitioners_for_ages_3_to_5 stat_type='number' %}
            </div>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>ECD budgets</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd-budgets" id="ecd-budgets">Early learning subsidies<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.ecd_subsidies_budgeted stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.ecd_subsidies_paid stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.child_support_grants stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.child_support_grants_amount stat_type='dollar' %}
            </div>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Schools</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#schools" id="schools">Schools (children aged 6-18 years)<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.total_schools stat_type='number' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-histogram-schools-school_breakdown" data-chart-title="Number of schools by phase" data-decimal-places="2"></div>
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.children_per_primary_school stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.children_per_secondary_school stat_type='number' %}
            </div>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Hospitals</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#hospitals" id="hospitals">Hospitals / Clinics<i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.total_hospitals stat_type='number' %}
            </div>
            <div class="column-half">
                <div id="chart-histogram-hospitals-hospital_breakdown" data-chart-title="Type of medical centre" data-decimal-places="2"></div>
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.people_per_hospital stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row gouped-row">
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.children_0_to_5_per_hospital stat_type='number' %}
            </div>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Households</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households" id="households">Households <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.informal stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-households-type_of_dwelling_distribution" data-stat-type="percentage" data-chart-title="Households by type of dwelling"></div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <h2><a class="permalink" href="#household-head" id="household-head">Head of household <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.head_of_household.female stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-households-head_of_household-gender_distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Head of household by gender"></div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.head_of_household.under_18 stat_type='number' %}
            </div>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Service delivery</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#water" id="water">Water <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_water_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-water_source_distribution" data-stat-type="percentage" data-chart-title="Population by water source"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#electricity" id="electricity">Electricity <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_electricity_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-electricity_access_distribution" data-stat-type="percentage" data-chart-title="Population by electricity usage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#toilets" id="toilets">Toilet facilities <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_flush_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_no_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-toilet_facilities_distribution" data-stat-type="percentage" data-chart-title="Population by toilet facilities"></div>
        </section>
    </div>
</article>
{% endblock %}

{% block body_javascript_extra %}{{ block.super }}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53744e46066d519d"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/head2head.js' %}"></script>
<script type="text/javascript">

var drawMaps = function() {
    var geo = profileData.geography;
    var geo_level = geo.this.geo_level;
    var geo_code = geo.this.geo_code;
    var mapit_type = MAPIT_LEVEL_TYPES[geo_level];
    var mapit_simplify = MAPIT_LEVEL_SIMPLIFY[mapit_type];

    // draw a map
    var allowMapDrag = (browserWidth > 480) ? true : false;
    var map = L.map('slippy-map', {
        scrollWheelZoom: false,
        zoomControl: false,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        dragging: allowMapDrag,
        touchZoom: allowMapDrag
    });

    if (allowMapDrag) {
        map.addControl(new L.Control.Zoom({
            position: 'topright'
        }));
    }

    // add imagery
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      subdomains: 'abc',
      maxZoom: 17
    }).addTo(map);

    // add demarcation boundaries
    if (geo_level == 'country') {
        map.setView({lat: -28.4796, lng: 10.698445}, 5);
    } else {
        d3.json("http://mapit.code4sa.org/area/MDB:" + geo_code +
                ".geojson?generation=1&simplify_tolerance=" + mapit_simplify +
                "&type=" + mapit_type, function(error, geojson) {
          if (error) return console.warn(error);

          var featureLayer = L.geoJson(geojson, {
              style: {
                  "fillColor": "#66c2a5",
                  "color": "#777",
                  "weight": 2,
                  "opacity": 0.3,
                  "fillOpacity": 0.5,
                  "clickable": false
              }
          });
          map.addLayer(featureLayer);
          var objBounds = featureLayer.getBounds();

          if (browserWidth > 768) {
              var z;
              for(z = 16; z > 2; z--) {
                  var swPix = map.project(objBounds.getSouthWest(), z),
                      nePix = map.project(objBounds.getNorthEast(), z),
                      pixWidth = Math.abs(nePix.x - swPix.x),
                      pixHeight = Math.abs(nePix.y - swPix.y);
                  if (pixWidth <  500 && pixHeight < 400) {
                      break;
                  }
              }

              map.setView(featureLayer.getBounds().getCenter(), z);
              map.panBy([-270, 0], {animate: false});
          } else {
              map.fitBounds(featureLayer.getBounds());
          }
        });
    }

    // load surrounding map shapes

    // [level, code] pairs
    var levels = _.map(geo.parents_ordering, function(level) {
        return [level, geo.parents[level].geo_code];
    });
    levels.unshift([geo_level, geo_code]);
    if (geo.this.child_level) {
        levels.unshift([geo.this.child_level, '']);
    }

    for (var i = 0; i < levels.length; i++) {
        var level = levels[i][0],
            code  = levels[i][1];
        var mapit_level = MAPIT_LEVEL_TYPES[level];

        // For each level, add map shapes for that level, limited to within the
        // parent level (eg. wards within a municipality).

        (function(level, code) {
            if (level == 'country') {
                return;
            }

            var parent = levels[i+1];
            parent = MAPIT_LEVEL_TYPES[parent[0]] + '-' + parent[1];

            var url = '/areas/MDB-levels:' + parent + '|' + mapit_level +
                      '.geojson?generation=1&simplify_tolerance=' + MAPIT_LEVEL_SIMPLIFY[mapit_level];

            d3.json("http://mapit.code4sa.org" + url, function(error, geojson) {
                if (error) return console.warn(error);

                var featureLayer = L.geoJson(geojson, {
                    style: {
                        "clickable": true,
                        "color": "#00d",
                        "fillColor": "#ccc",
                        "weight": 1.0,
                        "opacity": 0.3,
                        "fillOpacity": 0.3,
                    },
                    filter: function(feature, layer) {
                        // don't include this smaller geo, we already have a shape for that
                        return feature.properties.codes.MDB != code;
                    },
                    onEachFeature: function(feature, layer) {
                        var name = feature.properties.name;
                        if (level == 'ward') { name = 'Ward ' + name; }

                        layer.bindLabel(name, {direction: 'auto'});

                        layer.on('mouseover', function() {
                            layer.setStyle({
                                "fillColor": "#66c2a5",
                                "fillOpacity": 0.7,
                            });
                        });
                        layer.on('mouseout', function() {
                            layer.setStyle({
                                "fillColor": "#ccc",
                                "fillOpacity": 0.3,
                            });
                        });
                        layer.on('click', function() {
                            window.location = '/profiles/' + level + '-' + feature.properties.codes.MDB + '/';
                        });
                    },
                });
                map.addLayer(featureLayer);
            });
        })(level, code);
    }
};

// Create all the charts
var Charts = {},
    chartContainers = $('[id^=chart-]'),
    defaultDataRelease = '{{ geography.census_release }}',
    profileData = {{ profile_data_json }};

var gracefulType = function(chartType) {
    // convert certain chart types to more readable versions at narrow widths
    if (browserWidth <= 640) {
        if (chartType == 'column' || chartType == 'histogram') {
            return 'bar'
        } else if (chartType == 'grouped_column') {
            return 'grouped_bar'
        }
    }
    return chartType
}

var makeCharts = function() {
    $.each(chartContainers, function(i, obj) {
        $(obj).empty();
        var chartID = $(this).prop('id'),
            chartDataKey = chartID.replace('chart-','').replace('alt-',''),
            chartDataID = chartDataKey.split('-'),
            chartType = gracefulType(chartDataID[0]),
            chartData = profileData[chartDataID[1]],
            chartChartTitle = $(this).data('chart-title'),
            chartChartShowYAxis = $(this).data('chart-show-y-axis'),
            chartInitialSort = $(this).data('initial-sort'),
            chartStatType = $(this).data('stat-type'),
            chartDecimalPlaces = $(this).data('decimal-places'),
            chartQualifier = $(this).data('qualifier') || null,
            geographyData = profileData['geography'];

        // allow arbitrary nesting in API data structure
        var drilldown = chartDataID.length - 1;
        if (drilldown >= 2) {
            for (var n = 2; n <= drilldown; n++) {
                chartData = chartData[chartDataID[n]]
            }
        }

        // determine whether data point is from anything other
        // than the primary ACS release for this page
        for (var key in chartData) if (chartData.hasOwnProperty(key)) break;
        var thisRelease = chartData[key]['acs_release'],
            noteRelease = (thisRelease != defaultDataRelease) ? thisRelease + ' data' : null;

        /*chartQualifier = (chartQualifier && noteRelease) ? Array(chartQualifier, noteRelease)
            .filter(function(n) { return n }).join('; ') : null;*/

        var chartstuff = {
            chartContainer: chartID,
            chartDataKey: chartDataKey,
            chartType: chartType,
            chartHeight: 160,
            chartData: chartData,
            chartQualifier: chartQualifier,
            chartChartTitle: chartChartTitle,
            chartInitialSort: chartInitialSort,
            chartStatType: chartStatType,
            chartDecimalPlaces: chartDecimalPlaces,
            geographyData: geographyData
        }
        try {
            Charts[i] = Chart(chartstuff);
        } catch(e) {
            console.log("Error making chart " + chartID)
            console.log(chartstuff);
        }
    });
}
drawMaps();
makeCharts();

// listen for resize, redraw charts to new dimensions
var lazyRedrawCharts = _.debounce(function() {
    window.browserWidth = document.documentElement.clientWidth;
    window.browserHeight = document.documentElement.clientHeight;
    makeCharts();
}, 50);
$(window).resize(lazyRedrawCharts);

// for touch devices, still allow context toggle
$('.stat-row').on('click', '.stat', function() {
    $(this).find('.context').toggle();
});

</script>
{% endblock %}
