{% extends 'profile/profile_detail.html' %}{% load humanize lookup staticfiles %}
{% block head_meta_description %}Population data and election figures from {{ geography.this.short_name}}, broken down by category: Demographics, Service delivery, Economics and Education.{% endblock %}

{% block head_css_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/ecd.css' %}">
{% endblock %}

{% block header_branding %}
<a href="http://ilifalabantwana.co.za/" target="_blank">
    <img class="ilifa-logo" src="{% static 'img/ilifa-logo.jpg' %}">
</a>
<a href="http://www.mediamonitoringafrica.org/" target="_blank">
    <img class="mma-logo" src="{% static 'img/mma.png' %}">
</a>
{% endblock %}

{% block geography_extra_sq_km %}
{% if demographics.child_population_density.values.this %}
    <span class="secondary">
        <span class="value">{{ demographics.child_population_density.values.this|floatformat:"1" }}</span>
        <span class="name">{{ demographics.child_population_density.name }}</span>
    </span>
{% endif %}
{% endblock %}

{% block profile_header_tail %}
<div class="column-full">
    <p class="caption">
        <strong>Census data:</strong> 2011
        {% if crime %}
        <br>
        <strong>Crime data:</strong> {{ crime.dataset }}
        {% endif %}
    </p>
</div>
{% endblock %}

{% block profile_detail %}
<h2>This applicaton is currently under active development.<br>
Please provide any feedback you may have by using the Help &amp; Feedback button</h2>
<br>

<article id="ecd_ages" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd_age_groups" id="age_groups">Early childhood age groups<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.ecd_children stat_type='count' %}
            </div>
            <div class="column-third">
                <div id="chart-histogram-demographics-ecd_age_groups" data-chart-title="Breakdown of children aged 0-5" data-stat-type="scaled-percentage"></div>
            </div>
            <div class="column-third">
                <div id="chart-pie-demographics-ecd_gender" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Gender of children under the age of nine years"></div>
            </div>
        </section>
        {% if demographics.child_population_density.values.this %}
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd_pop_density" id="ecd_pop_density">Child population density<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.child_population_density stat_type='number' %}
            </div>
            <div class="column-third">
                <div id="chart-histogram-demographics-ecd_pop_density" data-chart-title="Children per square kilometre" data-decimal-places="2"></div>
            </div>
        </section>
        {% endif %}
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#women_child_bearing_age" id="women_child_bearing_age">Women of child bearing age<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_women_child_bearing_age stat_type='count' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-histogram-demographics-women_child_bearing_age" data-chart-title="Women by age in years" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Access to early learning</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#registered_centres" id="ecd_centres">ECD centres overview<i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.total_ecd_centres stat_type='count' %}
            </div>
            <div class="column-half" id="chart-pie-ecd_centres-ecd_centres_by_registration" data-stat-type="percentage" data-chart-title="Breakdown of ECD centres by registration status"></div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.registered_ecd_programmes stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <div class="column-half">
                <div id="chart-pie-ecd_centres-ecd_centres_by_type" data-chart-title="Breakdown of ECD centres by type of centre" data-stat-type="scaled-percentage"></div>
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#centre_coverage" id="ecd_centres">Centre coverage (children aged 3-5 years)<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_enrolled_age_3_to_5 stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_coverage stat_type='percentage' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_per_ecd_centre stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_3_to_5_per_ecd_centre_enrolled stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_in_ecd_programmes stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_in_play_groups stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#grade-r" id="grade-r">Grade R learners<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.children_grade_r_age stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.ecd_centres_with_grade_r_learners stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_centres.schools_with_grade_r_learners stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>ECD Audit 2013</li>
                <li>Census 2011</li>
                <li>Schools 2015</li>
            </ul>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>ECD educators</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd-educators" id="ecd-educators">Practitioners at ECD centres<i class="fa fa-link"></i></a></h2>
            <aside>
                <p>* Trained: NQF4 or higher</p>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_practitioner stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_trained_practitioner stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_per_untrained_practitioner stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.practitioners_for_ages_3_to_5 stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_educators.children_age_3_to_5_in_area stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>ECD Audit 2013</li>
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>ECD budgets</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#ecd-budgets" id="ecd-budgets">Early learning subsidies<i class="fa fa-link"></i></a></h2>
            <aside>
                <p>* Currently <a href="http://www.gov.za/services/child-care-social-benefits/child-support-grant" target="_blank">R 350.00</a> per month.
                </p>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.ecd_subsidies_budgeted stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.ecd_subsidies_paid stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.children_receiving_subsidy stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.child_support_grants stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=ecd_budgets.child_support_grants_amount stat_type='dollar' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>ECD Audit 2013</li>
                <li>gov.za</li>
            </ul>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Schools</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#schools" id="schools">Schools (for children aged 6-18 years)<i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.total_schools stat_type='count' %}
            </div>
            <div class="column-two-thirds">
                <div id="chart-histogram-schools-school_breakdown" data-chart-title="Number of schools by phase" data-decimal-places="2"></div>
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.children_per_primary_school stat_type='number' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=schools.children_per_secondary_school stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>Schools 2015</li>
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>

<article class="clearfix">
    <header class="section-contents">
        <h1>Hospitals</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#hospitals" id="hospitals">Hospitals / Clinics<i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.total_hospitals stat_type='count' %}
            </div>
            <div class="column-half">
                <div id="chart-histogram-hospitals-hospital_breakdown" data-chart-title="Type of medical centre" data-decimal-places="2"></div>
            </div>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.people_per_hospital stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row gouped-row">
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=hospitals.children_0_to_5_per_hospital stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>Hospitals 2012</li>
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Households</h1>
    </header>
    <div class="section-container">
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households" id="households">Households <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='count' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.informal stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-households-type_of_dwelling_distribution" data-stat-type="percentage" data-chart-title="Households by type of dwelling"></div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <h2><a class="permalink" href="#household-head" id="household-head">Head of household <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.head_of_household.female stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-households-head_of_household-gender_distribution" data-stat-type="percentage" data-initial-sort="-value" data-chart-title="Head of household by gender"></div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.head_of_household.under_18 stat_type='count' %}
            </div>
        </section>
        <section class="clearfix stat-row grouped-row">
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.ecd_children_per_household stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>

<article id="service_delivery" class="clearfix">
    <header class="section-contents">
        <h1>Service delivery</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#water" id="water">Water <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_water_from_service_provider stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-water_source_distribution" data-stat-type="percentage" data-chart-title="Population by water source"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#electricity" id="electricity">Electricity <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_electricity_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-electricity_access_distribution" data-stat-type="percentage" data-chart-title="Population by electricity usage"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#toilets" id="toilets">Toilet facilities <i class="fa fa-link"></i></a></h2>
            <aside>
            </aside>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_flush_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=service_delivery.percentage_no_toilet_access stat_type='percentage' %}
            </div>
            <div class="column-third" id="chart-pie-service_delivery-toilet_facilities_distribution" data-stat-type="percentage" data-chart-title="Population by toilet facilities"></div>
        </section>
        <section class="clearfix stat-row sources">
            <h2><a href="#sources">Sources:</a></h2>
            <ul class="context-phrases">
                <li>Census 2011</li>
            </ul>
        </section>
    </div>
</article>
{% endblock %}

{% block footer_content %}
    <div class="column-half">
        <h3><a class="permalink" href="#sources" id="sources">Sources:</a></h3>
        <br/>
        <ul class="ul-icon-list">
            <li>
                <h4><a href="http://www.statssa.gov.za/" target="_blank">Census 2011</a></h4>
                South African National Census, Statistics South Africa, 2011
            </li>
            <li>
                <h4><a href="http://www.education.gov.za/Programmes/EMIS/EMISDownloads.aspx" target="_blank">Schools 2015</a></h4>
                South African Schools Masterlist, Department of Basic Education, June 2015
            </li>
            <li>
                <h4><a href="https://data.code4sa.org/Health/South-African-Hospitals-Survey-2011-2012/ft5b-smjr" target="_blank">Hospitals 2012</a></h4>
                Survey of South African Hospitals, Department of Health, 2011/12
            </li>
            <li>
                <h4>ECD Audit 2013</h4>
                National Audit of ECD centres in South Africa, Department of Social Development, 2013
                <br/>
                * Data for the provinces of Kwazulu Natal and Nort West collected by Ilifa Labantwana.
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                <i class="fa fa-th-list"></i> <a href="http://www.mediamonitoringafrica.org/" target="_blank">Media Monitoring Africa</a>
            </li>
            <li>
                <i class="fa fa-envelope"></i> <a href="mailto:info@mma.org.za">Email us</a>
            </li>
            <li>
                <i class="fa fa-github"></i> <a href="https://github.com/Code4SA/wazimap-za" target="_blank">Wazimap on Github</a>
            </li>
            <li>
                <i class="fa fa-github"></i> Built on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            {% block footer_branding %}
            <li class="post-text">
                This project is in collaboration with Ilifa Labantwana
            </li>
            <li>
                <a href="http://ilifalabantwana.co.za/"><img class="ilifa-logo" src="{% static 'img/ilifa-logo.jpg' %}"></a>
            </li>
            <li>
                <a href="http://www.mediamonitoringafrica.org/"><img class="mma-logo" src="{% static 'img/mma.png' %}"></a>
            </li>
            <li>
                <a href="http://www.code4sa.org/"><img src="{% static 'img/code4sa-logo-small.png' %}"></a>
            </li>
            {% endblock %}
        </ul>
    </div>
{% endblock footer_content %}
