<div class="featherlight-loading featherlight wazi-lightbox">
  <div class="featherlight-content">
    <div class="lightbox-intro">
      <h2>Watch the video below for tips on using this page.</h2>
      <p>This and other videos are available by clicking <a href="{% url 'help' %}"><i class="fa fa-question-circle"></i></a> at the top of the page.</p>
      <hr>
    </div>
    <button class="featherlight-close-icon featherlight-close" aria-label="Close">&#10005;</button>
    <div class="featherlight-inner"></div>
  </div>
</div>
