<div class="featherlight-loading featherlight wazi-lightbox">
  <div class="featherlight-content">
    <div class="lightbox-intro">
      <h2>Here's a Quick Tip for using {{ WAZIMAP.name }}</h2>
      <p>Check out more {{ WAZIMAP.name}} videos <a href="{% url 'help' %}">on our help page</a>, or by clicking <i class="fa fa-question-circle"></i> at the top of the page.</p>
      <hr>
    </div>
    <button class="featherlight-close-icon featherlight-close" aria-label="Close">&#10005;</button>
    <div class="featherlight-inner"></div>
  </div>
</div>
