<section id="explore-topic-picker" class="column-full clearfix big-action">
    <h1 class="article-header">Find data</h1>
    <p class="primary-explainer">Use keywords to search {{ WAZIMAP.name }} for data, then choose a place or places to view your data.</p>

    <div id="topic-select-wrapper" class="input-wrapper">
        <input name="topic_select" id="topic-select" type="text" placeholder="Find a dataset. Try searching for a topic e.g. age or education" autocomplete="off">
    </div>
</section>

