{% extends '_base.html' %}
{% load staticfiles %}

{% block head_css %}
    {{ block.super }}
    {% if WAZIMAP.default_profile == 'youth' %}
    <link rel="stylesheet" href="{% static 'css/youth.css' %}">
    {% endif %}
{% endblock %}


{% if WAZIMAP.default_profile == 'youth' %}
  {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/youth-favicon.ico' %}"/>
  {% endblock %}
{% endif %}

{% block header_logo %}
  {% if WAZIMAP.default_profile == 'youth' %}
    <img src="{% static 'img/youth-logo.png' %}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block header_branding %}
  {% if WAZIMAP.default_profile == 'youth' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block footer_content %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {% include 'footer_youth.html' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
