{% load staticfiles %}

{% if WAZIMAP.default_profile == 'youth' %}
  <div class="clearfix">
    <div class="column-quarter">
      <ul class="ul-icon-list">
        <li>
          <i class="fa fa-info"></i>
          <a href="/about">About {{ WAZIMAP.name }}</a>
        </li>
        <li>
          <i class="fa fa-info"></i>
          <a href="/help">Help</a>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          <a href="mailto:emily.frame@uct.ac.za">Feedback</a>
        </li>
      </ul>
    </div>
    <div class="column-quarter">
      <ul class="ul-icon-list">
        <li>
          <i class="fa fa-github"></i> <a href="https://github.com/Code4SA/wazimap" target="_blank">{{ WAZIMAP.name }} on Github</a>
        </li>
      </ul>
    </div>
    <div class="column-half">
      <ul class="ul-icon-list">
        <li>
          <i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
        </li>
        <li>
          <i class="fa"></i> <a href="http://www.saps.gov.za/index.php" target="_blank">Crime data from SAPS</a>
        </li>
        <li>
          <i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/education" target="_blank">Education data from  WC Education Dept</a>
        </li>
        <li>
          <i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/health" target="_blank">Health data from WC Dept of Health</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix">
    <div class="footer-logos">
      <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img class="footer-logo"src="{% static 'img/uct-logo.png' %}"></a>
      <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/pii-logo.png' %}"></a>
      <a href="http://www.statssa.gov.za/?page_id=7944" target="_blank"><img img class="footer-logo" src="{% static 'img/statssa-logo.png' %}"></a>
      <a href="http://www.erln.org.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/erln-logo.png' %}"></a>
      <a href="https://openup.org.za/" target="_blank"><img class="footer-logo" src="{% static 'img/openup-logo-small.png' %}"></a>
    </div>
  </div>
{% else %}
  <div class="column-quarter">
    <ul class="ul-icon-list">
      <li>
        <i class="fa fa-info"></i> <a href="/about">About {{ WAZIMAP.name }}</a>
      </li>
      <li>
        <i class="fa fa-info"></i> <a href="/help">Help</a>
      </li>
      <li>
        <i class="fa fa-pencil"></i> <a href="http://www.newstools.co.za/" target="_blank">More Newstools</a>
      </li>
    </ul>

    <ul class="ul-icon-list">
      <li>
        <i class="fa fa-check-square"></i> <a href="http://www.elections.org.za/" target="_blank">Elections data from the IEC</a>
      </li>
      <li>
        <i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
      </li>
    </ul>
  </div>
  <div class="column-quarter">
    <ul class="ul-icon-list">
      <li>
        <i class="fa fa-th-list"></i> <a href="http://www.mediamonitoringafrica.org/" target="_blank">Media Monitoring Africa</a>
      </li>
      <li>
        <i class="fa fa-envelope"></i> <a href="mailto:info@mma.org.za">Email us</a>
      </li>
      {% if WAZIMAP.twitter %}
      <li>
        <i class="fa fa-twitter"></i> <a href="http://twitter.com/{{ WAZIMAP.twitter }}" target="_blank">{{ WAZIMAP.twitter }}</a>
      </li>
      {% endif %}

    </ul>

    <div>
      <p>Sign up to the Wazimap newsletter</p>
      <form class="mailing-list-form" action="https://code4sa.us8.list-manage.com/subscribe/post?u=11977a67604b965526b63ee6e&amp;id=2051c25ea0" method="POST" target="_blank">
        <div class="input-group">
          <input class="form-control" name="EMAIL" type="email" required="required" placeholder="Your email">
          <span class="input-group-btn">
            <button class="action-button" type="submit">Sign Up</button>
          </span>
        </div>

      </form>
    </div>
  </div>
  <div class="column-quarter">
    <ul class="ul-icon-list">
      <li>
        <i class="fa fa-github"></i> <a href="https://github.com/Code4SA/wazimap" target="_blank">Wazimap on Github</a>
      </li>
      <li>
        <i class="fa fa-github"></i> Built on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>
      </li>
    </ul>
  </div>
  <div class="column-quarter">
    <ul class="ul-icon-list">
      <li>
        <a href="http://www.mediamonitoringafrica.org/"><img class="mma-logo" src="{% static 'img/mma.png' %}"></a>
      </li>
      <li>
        <a href="https://openup.org.za/"><img src="{% static 'img/openup-logo-small.png' %}"></a>
      </li>
    </ul>
  </div>
{% endif %}
