<article id="about">
    <header>
        <h1 class="article-header">About the Youth Explorer</h1>
    </header>
    <section class="column-three-quarters">
        <p>Little coherent understanding exists about the realities that shape young people’s lives, how they change over time or differ from one community to another. This lack of understanding severely constrains the ability of policies and interventions to address the challenges facing youth and optimally support them in their attempts to forge positive and transformative pathways.</p>

        <p>The Youth Explorer was developed to begin to fill these gaps in our understanding. Drawing on census data, it provides a range of information on young people aged 15-24<sup>*</sup>, in one easily accessible place. Indicators on young people’s education, economic opportunities, family and living environment, health and more are available at a range of geographic levels, from electoral wards to local municipalities and district municipalities<sup>**</sup>. The tool provides simple data visualisations and allows for further interactive exploration of the data.</p>

        <p>The Youth Explorer was developed by UCT’s <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank">Poverty and Inequality Initiative</a>, in partnership with <a href="https://openup.org.za/" target="_blank">OpenUp</a> (formerly Code for South Africa), <a href="http://www.statssa.gov.za/" target="_blank">Statistics South Africa</a> and the <a href="http://www.erln.co.za/" target="_blank">Economies of Regions Learning Network</a> (ERLN). The 2016 pilot version in the Western Cape was supported by the Western Cape Government, City of Cape Town and the Centre of Excellence in Human Development. The Youth Explorer was built on <a href="https://wazimap.co.za/" target="_blank">Wazimap</a>, which is based on the amazing <a href="http://censusreporter.org/" target="_blank">Census Reporter</a> and is entirely open source.</p>

        <h2 class="subhead">A work in progress</h2>
        <p>With the help of the Western Cape Government and City of Cape Town we were able to include additional indicators for the youth cohort in the Western Cape. Drawing on administrative data from the Western Cape Education Department, the Western Cape Department of Health and the South African Police Service (SAPS), these indicators help build a more detailed overview of the situation of youth in this province. If you are interested in seeing this feature in your province, contact <a href="mailto:gmudiriza@gmail.com ">Gibson Mudiriza</a>.</p>

        <h2 class="subhead">Get in touch</h2>

        <p>We are constantly trying to improve this site to make it useful and easy to navigate. Please send any questions, comments or feedback to <a href="mailto:emily.frame@uct.ac.za">emily.frame@uct.ac.za</a>.</p>

        <br>
        <p class="footnote"><sup>*</sup> In line with common international practice, youth is regarded as persons aged 15-24 years.</p>
        <p class="footnote"><sup>**</sup> Individuals travelling on census night were excluded from the Youth Explorer sample, thus numbers may differ slightly to those generated elsewhere.</p>

    </section>
</article>
