<article id="about">
    <header>
        <h1 class="article-header">About the Western Cape Youth Explorer</h1>
    </header>
    <section>
        <p>The Western Cape Youth Explorer provides a range of information on young people aged 15-24<sup>*</sup>, in one easily accessible place.  The tool was developed in partnership with UCT’s Poverty and Inequality Initiative, Western Cape Government, City of Cape Town, Statistics South Africa and Code for South Africa.</p>

        <p>Little coherent understanding exists about the realities that shape young people’s lives, how they change over time or differ from one community to another. This lack of understanding severely constrains the ability of policies and interventions to address the key challenges facing youth and optimally support them in their attempts to forge positive and transformative pathways.</p>

        <p>The Western Cape Youth Explorer draws on a number of data sources to profile the situation of young people and the contexts in which they live. Indicators on young people’s education, economic opportunities, family and living environment, health and more are available at a range of geographic levels, from electoral wards to local municipalities and district municipalities. The tool provides simple data visualisations and allows for further interactive exploration of the data.</p>

        <p>The Western Cape Youth Explorer is built on <a href="https://wazimap.co.za/" target="_blank">Wazimap</a>, which is based on the amazing <a href="http://censusreporter.org/" target="_blank">Census Reporter</a> and is completely open source.</p>

        <h2 class="subhead">A work in progress</h2>

        <p>So far we have added indicators using data from the 2011 Census, the South African Police Service (SAPS) and the Western Cape Department of Health. During the next few months we will be adding more indicators that draw on administrative data from various government departments, so keep checking the site for updates!</p>

        <h2 class="subhead">Get in touch</h2>

        <p>We are constantly trying to improve this site to make it useful and easy to navigate. Please send any questions, comments or feedback to <a href="mailto:emily.frame@uct.ac.za">emily.frame@uct.ac.za.</a></p>

        <br>
        <p class="footnote"><sup>*</sup> In line with the Western Cape Youth Development Strategy, youth is regarded as persons aged 15-24 years.</p>
    </section>
</article>
