{% load staticfiles %}

<div class="clearfix">
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                <i class="fa fa-envelope"></i> <a href="mailto:info.pii@uct.ac.za">Email us</a>
            </li>
            <li>
                <i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
            </li>
            <li>
                <i class="fa"></i> <a href="http://www.saps.gov.za/index.php" target="_blank">Crime data from SAPS</a>
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                Built with <a href="http://wazimap.readthedocs.io/en/latest/">Wazimap *</a>
            </li>
            <li>
                <i class="fa fa-github"></i> <a href="https://github.com/Code4SA/wazimap" target="_blank">Wazimap on Github</a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix">
    <div class="footer-logos">
        <a href="http://www.povertyandinequality.uct.ac.za/"><img img class="footer-logo"src="{% static 'img/uct-logo.png' %}"></a>
        <a href="http://www.povertyandinequality.uct.ac.za/"><img img class="footer-logo" src="{% static 'img/pii-logo.png' %}"></a>
        <a href="https://www.westerncape.gov.za/"><img img class="footer-logo" src="{% static 'img/wcgov-logo.png' %}"></a>
        <a href="https://www.capetown.gov.za/en/Pages/default.aspx"><img img class="footer-logo" src="{% static 'img/cct-logo.png' %}"></a>
        <a href="http://www.statssa.gov.za/?page_id=7944"><img img class="footer-logo" src="{% static 'img/statssa-logo.png' %}"></a>
        <a href="http://www.code4sa.org/"><img class="footer-logo" src="{% static 'img/c4sa-logo.png' %}"></a>
    </div>
</div>



<ul class="ul-icon-list">
    <li>
        * Wazimap was originally created in collaboration with <a href="http://www.mediamonitoringafrica.org/">Media Monitoring Africa</a> and is based on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>.
    </li>
</ul>
