{% extends 'homepage.html' %}{% load staticfiles %}

{% block head_title %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {{ WAZIMAP.name }} - Explore, visualise and interact with youth-centered data
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block head_meta_description %}
    {% if WAZIMAP.default_profile == 'youth' %}
    {{ WAZIMAP.name }} provides useful facts about young people living in {{ root_geo.name }}. Compare places using tables and maps, download data, and embed charts on your site!
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block place_finder %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {% include 'homepage_youth_place_finder.html' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block homepage_detail %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {% include 'homepage_youth.html' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block tips %}
  {% if WAZIMAP.video_links %}
    <div class="column-quarter">&nbsp;</div>
    <span class="column-half card">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="{{ WAZIMAP.video_links.intro }}" frameborder="0" allowfullscreen></iframe>
      </div>
      <span class="caption"><a href="{% url 'help' %}">More tips on using {{ WAZIMAP.name }}</a></span>
    </span>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block showcase %}
    <section class="column-full clearfix">
      <h1 class="article-header">{{ WAZIMAP.name }} out in the field</h1>
      <div class="column-third showcase">
        <a href="http://www.enca.com/south-africa/new-uranium-mine-set-create-jobs-beaufort-west" target="_blank">
          <img src="{% static 'img/showcase/enca.png' %}">
          <h3>enca.com</h3>
          <p>by Bianca Ackroyd</p>
        </a>
      </div>

      <div class="column-third showcase">
        <a href="http://www.huffingtonpost.co.za/2017/04/26/lichtenburg-and-coligny-the-tensions-that-lie-beneath_a_22056700/" target="_blank">
          <img src="{% static 'img/showcase/huff.png' %}">
          <h3>huffingtonpost.co.za</h3>
          <p>by Sarah Evans and Pontsho Mabena</p>
        </a>
      </div>

      <div class="column-third showcase">
        <a href="http://www.fin24.com/Economy/Growing-poverty-in-SA-20150203" target="_blank">
          <img src="{% static 'img/showcase/fin24.png' %}">
          <h3>fin24.com</h3>
        </a>
      </div>

    </section>
{% endblock %}

{% block homepage_javascripb_libs %}
{{ block.super }}
<script src="{% static 'js/maps_mapit.js' %}"></script>

{% endblock %}

