<div class="content-container clearfix tan-stripe callouts">
    <article class="wrapper">
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-search"></i>
                    Explore
                </h3>
                <p>Type in the name of an area in the top right-hand bar or click on an area in the map</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualise
                </h3>
                <p>Scroll down to view statistics and charts about young people and the context in which they live</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Compare
                </h3>
                <p>Compare any two areas by typing a second area in the bar below the map</p>
            </div>
        </section>
        <section class="column-full clearfix">
            <div id="slippy-map"></div>
        </section>
    </article>
</div>

<div class="content-container clearfix">
    <article id="explore" class="clearfix wrapper">
        {% include "data/_blocks/_youth_data_query_builder.html" %}
    </article>
</div>
