{% extends 'homepage.html' %}{% load staticfiles %}

{% block place_finder %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {% include 'homepage_youth_place_finder.html' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block homepage_detail %}
  {% if WAZIMAP.default_profile == 'youth' %}
    {% include 'homepage_youth.html' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% if video_links %}
  {% block homepage-video %}
      <hr>
      <h2 class="column-full subhead">How to use {{ WAZIMAP.name }}</h2>
      <span class="column-half card">
          <div class="video-wrapper">
            <iframe width="560" height="315" src="{{ WAZIMAP.video_links.0 }}" frameborder="0" allowfullscreen></iframe>
          </div>
          <span class="caption">You can learn more <a href="{% url 'help' %}">here.</a></span>
      </span>
  {% endblock %}
{% endif %}

{% block homepage_javascripb_libs %}
{{ block.super }}
<script src="{% static 'js/maps_mapit.js' %}"></script>

{% if WAZIMAP.default_profile == 'youth' %}
<script src="{% static 'js/profile_maps_youth.js' %}"></script>
{% endif %}

{% endblock %}

