{% extends 'homepage.html' %}{% load staticfiles %}

{% block head_css_extra %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/ecd.css' %}">
{% endblock %}

{% block homepage_javascripb_libs %}
{{ block.super }}
<script src="{% static 'js/maps_mapit.js' %}"></script>
{% endblock %}

{% block header_branding %}
<a href="http://ilifalabantwana.co.za/" target="_blank">
    <img class="ilifa-logo" src="{% static 'img/ilifa-logo.jpg' %}">
</a>
<a href="http://www.mediamonitoringafrica.org/" target="_blank">
    <img class="mma-logo" src="{% static 'img/mma.png' %}">
</a>
{% endblock %}

{% block homepage_detail %}
<div class="content-container clearfix">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Discover the story behind the data.</h1>
            <div id="slippy-map"></div>
        </section>
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-book"></i>
                    Find facts
                </h3>
                <p>Figures are broken down by category: Demographics, Access to early learning, ECD educators, ECD budgets, Schools, Hospitals, Households and Service delivery</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualize
                </h3>
                <p>Our library of charts gives you insight into data from the places you research. Look for them on profile pages. You can even <a href="{% url 'example_detail' 'embed-charts' %}">embed the charts</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Get context
                </h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Finding places</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/text_search.png' %}">
                <span class="caption">Type in the name or address of a place. Then select the location you are interested in from the dropdown.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/map_search.png' %}">
                <span class="caption">Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> buttons zoom in an out.</span>
            </span>
            <h2 class="column-full subhead">Exploring data</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/section_overview.png' %}">
                <span class="caption">Statistics are broken down into categories, e.g. Service Delivery. Find a key figure for a sub-category on the left.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/hover_over_graph.png' %}">
                <span class="caption">Hover over graphs to see comparisons with the province and country averages.</span>
            </span>
        </section>
    </article>
</div>

<div class="content-container clearfix">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">About {{ WAZIMAP.name }}</h1>

            <p class="explainer">{{ WAZIMAP.name }}, from the Xhosa word <i>ulwazi</i> for knowledge, is a joint project by <a href="http://ilifalabantwana.co.za/" target="_blank">Ilifa Labantwana</a>, <a href="http://www.mediamonitoringafrica.org/" target="_blank">Media Monitoring Africa</a> and <a href="http://www.code4sa.org/" target="_blank">Code for South Africa</a> that provides easy access to data relating to Early Childhood Development.</p>


            <h2 class="column-full subhead">Shoulders of Giants</h2>
            <p>{{ WAZIMAP.name }} is based on the amazing <a href="http://censusreporter.org/" target="_blank">Census Reporter</a> and is completely open source. You can <a href="https://github.com/Code4SA/wazimap-za">fork Wazimap on Github</a> and build one for your country.</p>

        </header>
    </article>
</div>
{% endblock %}

{% block footer_content %}
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                <i class="fa fa-check-square"></i> <a href="http://www.elections.org.za/" target="_blank">Elections data from the IEC</a>
            </li>
            <li>
                <i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                <i class="fa fa-th-list"></i> <a href="http://www.mediamonitoringafrica.org/" target="_blank">Media Monitoring Africa</a>
            </li>
            <li>
                <i class="fa fa-envelope"></i> <a href="mailto:info@mma.org.za">Email us</a>
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            <li>
                <i class="fa fa-github"></i> <a href="https://github.com/Code4SA/wazimap-za" target="_blank">Wazimap on Github</a>
            </li>
            <li>
                <i class="fa fa-github"></i> Built on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>
            </li>
        </ul>
    </div>
    <div class="column-quarter">
        <ul class="ul-icon-list">
            {% block footer_branding %}
            <li class="post-text">
                This project is in collaboration with Ilifa Labantwana
            </li>
            <li>
                <a href="http://ilifalabantwana.co.za/"><img class="ilifa-logo" src="{% static 'img/ilifa-logo.jpg' %}"></a>
            </li>
            <li>
                <a href="http://www.mediamonitoringafrica.org/"><img class="mma-logo" src="{% static 'img/mma.png' %}"></a>
            </li>
            <li>
                <a href="http://www.code4sa.org/"><img src="{% static 'img/code4sa-logo-small.png' %}"></a>
            </li>
            {% endblock %}
        </ul>
    </div>
{% endblock footer_content %}
