{% extends '_base.html' %}
{% load staticfiles %}

{% block head_title %}Youth Explorer: Explore youth-centered data in South Africa{% endblock %}
{% block head_meta_description %}Youth Explorer provides useful facts about the young people in South Africa. Compare places using tables and maps, download data, and embed charts on your site!{% endblock %}

{% block head_facebook_tags %}
<meta property="og:url" content="{{ WAZIMAP.url }}" />
<meta property="og:title" content="Youth Explorer: Explore youth-centered data in South Africa" />
<meta property="og:description" content="Youth Explorer provides useful facts about the young people in South Africa. Compare places using tables and maps, download data, and embed charts on your site!" />
{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/wazimap_za.css' %}">
    <link rel="stylesheet" href="{% static 'css/youth.css' %}">
{% endblock %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/youth-favicon.ico' %}"/>
{% endblock %}

{% block body %}

<div class="content-container clearfix">
    <article class="clearfix wrapper">
        <section class="column-full clearfix branding">
            <img src="{% static 'img/youth-logo.png' %}">
            <h2>Youth Explorer</h2>
            <p>Explore, visualise and interact with youth-centered data for places in South Africa.</p>
            <h3>Launching 16 June 2017</h3>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe callouts">
    <article class="wrapper">
        <section class="column-quarter">
            <p>&nbsp;</p>
        </section>
        <section class="column-half clearfix">
            <div class="column-half callout with-icon">
                <a href="mailto:emily.frame@uct.ac.za">
                    <h3>
                        <i class="fa fa-envelope-o"></i>
                        Get in touch
                    </h3>
                </a>
                <p>by sending us an email</p>
            </div>
            <div class="column-half callout with-icon">
                <a href="https://beta.youthexplorer.org.za/">
                    <h3>
                        <i class="fa fa-bar-chart"></i>
                        Take a peek
                    </h3>
                </a>
                <p>and explore the data we have so far!</p>
            </div>
        </section>
    </article>
</div>

<section class="wrapper footer-container clearfix">
    <div class="clearfix">
        <div class="footer-logos launch-page-logos">
            <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img="" class="footer-logo" src="/static/img/uct-logo.png"></a>
            <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img="" class="footer-logo" src="/static/img/pii-logo.png"></a>
            <a href="http://www.statssa.gov.za/?page_id=7944" target="_blank"><img img="" class="footer-logo" src="/static/img/statssa-logo.png"></a>
            <a href="http://www.erln.org.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/erln-logo.png' %}"></a>
            <a href="https://openup.org.za/" target="_blank"><img class="footer-logo" src="{% static 'img/openup-logo-small.png' %}"></a>
        </div>
    </div>
</section>

{% endblock %}


{% block body_javascript %}
{% endblock %}
